<main>
  <article class="article">
    <h1>{{ title }}</h1>
      <p class="article-meta">
      <time datetime="{{ date.repr.date }}">{{ printf("%02d.%02d.%d", date.day, date.month, date.year) }}</time>
          · {{ reading_time }} min read
      </p>
    {% if has_synopsis %}
      <p class="tagline">{{ synopsis }}</p>
    {% endif %}
    {% if has_tags %}
      <ul class="tags">
        {% for tag in tags %}<li class="tag">{{ tag }}</li>{% endfor %}
      </ul>
    {% endif %}

    {{safe (yocaml_body) }}

    <p class="article-meta">
      <a href="/">← Back</a>
    </p>
  </article>
</main>
